@model Diner.Restaurant

@{
    ViewBag.Title = "Menu";
}

<div>
    <h1>@Model.Name</h1>
    </br>
    @Html.DisplayFor(x => x.Name)
    </br>
    @Html.DisplayFor(x => x.Location.Street)
    </br>
    @Html.DisplayFor(x => x.Location.City)
    </br>
    @Html.DisplayFor(x => x.Location.State)
    </br>
    </br>
    </br>
    @foreach(var item in Model.OrderMenu.FoodItemList)
    {
        @Html.Label(item.Name)
        <br />
        @item.Price
        <br/>
        @String.Format("{0} costs ${1}", item.Name, item.Price)
        <br />
        @String.Format("${1} is the cost of {0}", item.Name, item.Price)
      
        <br/>
        <br />
    }
</div>

<div>
    @Html.ActionLink("Order", "Order", null, new { @class = "btn btn-warning" })
</div>
